<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/menu.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./assets/normalize.css">
    <link rel="stylesheet" href="./assets/compras.css">
    <title>Compras</title>
</head>
<body>

<div class="main-conteiner">

<header class="header">
    <div class="header-box">
<div class="logo-box"> <a href="menu"><img src="https://www.picossa.com/wp-content/uploads/2020/02/cropped-logo-png.png" alt=""></a></div>
<div class="app-name"><h1 class="app-title"> Picossa App</h1></div>
</div>

<nav>
<ul>
 
    <li><a class="menu-item" href="productos">Productos</a></li>
    <li><a  class="menu-item"href="ventas">Ventas</a></li>
    <li><a class="menu-item"href="compras">Compras</a></li>
    <li><a class="menu-item"href="estadosFinancieros">Estado Financieros</a></li>
</ul>

</nav>


</header>
<main class="main">
    <div class="compra-box" >

        <h1 class="main-title">Ingreso de Compras</h1>
        

        <form method="post" action="">
            <section class="fixed-items">

            <label class="box-items" for="">Orden de pedido</label>
            <input type="text">

            <label class="box-items" for="">Costo de Envio</label>
            <input type="number">

            <label class="box-items" for="">TRM</label>
            <input type="number">

            <label class="box-items" for="">Fecha</label>
            <input type="date">
        </section>

        <section class="varible-items" >


            <h2 class="compras-h2">Producto</h2>

            <label class="box-items" for="">Referencia</label>
            <input type="text">

            <label class="box-items" for="">Descripcion</label>
            <input type="text">

            <label class="box-items" for="">Talla</label>
            <select name="" id="">
                <option value="">L</option>
                <option value="">XL</option>
                <option value="">3XL</option>
                <option value="">4XL</option>
            </select>

            <label class="box-items" for="">Peso</label>
            <input type="number">

            <label class="box-items" for="">Cantidad</label>
            <input type="number">

            <label class="box-items" for="">Precio</label>
            <input type="number">



        </section>
            



        </form>


      



    </div>
</main>

<footer class="footer">

<div class="footer">

</div>

</footer>


</div>
</body>
</html>